div.child-layout {
  width: calc(100vw - 200px - .95px);
  height: 100vh;
  display: flex;
  background: #DCDCDC;
  gap: 1px;
  position: absolute;
  right: 0;
}

div.child-layout > div#side-section {
  background: #DCDCDC;
}

div#side-section {
  display: flex;
  flex-direction: column;
  gap: 1px;
  width: 100%;
}

section.page {
  display: flex;
  height: 100%;
  background: #fefefe;
  flex-direction: column;
}

.header {
  height: 57px;
  background: #fefefe;
}

.sidebar {
  position: fixed;
  /* background: #fefefe; */
  width: 200px;
  height: 100vh;
  overflow: hidden;
}