div.sidebar {
  height: 100vh;
  /* width: 200px; */
  flex: 1;
  background: #fefefe;
}

div.logo {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px 12px; */
}

div.sidebar div.logo div.icon-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  left: -30px;
  position: relative;
  font-family: righteous !important;
  font-size: 18px;
  color: #763cb0;
  /* background: #000; */
}

div.channels {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  top: 45px;
  height: 100%;
  max-height: calc(100vh - 100px - 140px);
  overflow: auto;
}

div.channels::-webkit-scrollbar-thumb {
  background: #e5daf0;
}

div.channels > a,
div.channels > button {
  padding: 11px 13px 11px 27px;
  font-family: AbeeZee;
  font-size: 12px;
  color: #3A066D;
  transition: 130ms;
  position: relative;
  width: 100%;
  /* height: 100%; */
  flex: 0;
  text-decoration: none;
  z-index: 1;
}

div.channels > button#createChannel {
  text-align: left;
  border: none;
  outline: none;
  background: none;
  color: #3A066D;
  top: 50px;
  transition: 200ms;
  z-index: 1000;
}

/* div.channels > button#createChannel:hover {
  color: #fefefe;
} */

/* div.channels > button#createChannel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: none;
  transform: scaleX(0);
  transition: 200ms;
  z-index: -1;
} */

div.channels > button#createChannel:hover {
  background-color: #f1e9f9;
}

div.channels > a::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transform-origin: right;
  background: #f1e9f9;
  transform: scaleX(0);
  transition: transform .24s ease-in-out;
  z-index: -1;
}

div.channels > a#currentChannel::after,
div.channels > a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

div.channels > a::before {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  background: #3A066D;
  left: 0;
  top: 0;
  transition: 250ms;
}

div.channels > a#currentChannel::before {
  width: 5px;
}