div.channel-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 50px;
  padding: 40px 40px;
  font-family: AbeeZee;
}

div.channel-intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

div.name-date {
  display: flex;
  gap: 20px;
  align-items: baseline;
}

p.name {
  font-size: 2rem;
  font-weight: bold;
  font-family: Archivo;
  color: #232323;
}

p.date {
  font-size: 13px;
  color: #8a8a8a;
}

div.buttons {
  display: flex;
  gap: 25px;
  align-items: center;
}

div.buttons button {
  padding: 12px;
  font-size: .8em;
  border: none;
  outline: none;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .16);
  border-radius: 5px;
  color: #343434;
  font-family: Abeezee;
  z-index: 1;
  position: relative;
  transition: 200ms;
  width: 150px;
}

button#add-task {
  box-shadow: none;
  background: #47246a;
  color: #fefefe;
}

div.buttons button:hover {
  transform: scale(1.05);
}

div.options-bar {
  display: flex;
  width: 55%;
  height: 2.3rem;
  padding: 12px 20px;
  border-radius: 50px;
  position: fixed;
  left: calc(50% + 57px);
  transform: translateX(calc(-50% + 57px));
  bottom: 20px;
}